
// COLORS
$color-primary: #000;
$color-primary-light: #161721;

$color-secondary: #5332EC;

$color-grey-light-1: #fff;
$color-grey-light-2:#9F9A9A;
$color-grey-light-3: #292929;

$color-gold: #F4C917;
$color-green: #3CC74B;
$color-red: #AC233F;
$color-blue: #39B4F8;

$color-spanish-white: #FEF2E0;
$color-violet: #FBE7FC;

