@import '../../sass/variables.scss';

.home-page{

    // font-size: 2rem;
    // font-weight: 400;
    // color: green;
    // background-color: $color-primary;

    display: grid;
    grid-template-rows: 90vh 25vw 30vw 25vw min-content 30vw 25vw 40vw repeat(2, min-content);
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(14rem, 1fr) [col-end] ) [center-end] 1fr [full-end];
}

.hero{
    // background-color: $color-primary;
    grid-column: full-start / full-end;
    
    padding: 10rem;
    background-image: linear-gradient(90deg,
                                      rgba($color-primary, 1), 25%,
                                      rgba($color-primary-light, 0) 25%,
                                      $color-primary-light 25%);
    
    display: flex;
    align-items: center;

    &__img-container{
        height: 35rem;
        width: 51.5rem;
        background-color: $color-grey-light-3;
    }
    &__img{
        height: 100%;
        width: 50%;
    }

    &__content{
        margin-left: -5.5rem;
    }
}
.cv-content{
    background-color: $color-primary;
    grid-column: full-start / col-start 5;
    padding: 10rem;
    // border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    .heading{
        display: block;
        line-height: 1.2;
    }
}
.cv-download{
    background-color: $color-primary;
    grid-column: col-start 5 / full-end;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10rem 0;

    .button-container{
        display: flex;
        justify-content: center;
    }

    // .horizontal-line{
    //     height: 1rem;
    //     border: none;
    //     background-color: $color-gold;
    // }
}
.philosophy-content{
    background-color: $color-spanish-white;
    grid-column: full-start / col-start 5;

    padding: 10rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    

    &__about-link{
        color: black;
        font-size: 1.6rem;
        text-decoration: none;
        border-bottom: 1px solid black;
        margin-right: auto;
        
    }

    .heading-1{
        color: black !important;
    }
    .text{
        color: black !important;
    }
}
.philosophy-image{
    background-color: $color-grey-light-2;
    grid-column: col-start 5 / full-end;

    background-position: center;

    .image{
        width: 100%;        
    }
}
.skills-content{
    background-color: $color-grey-light-3;
    grid-column: full-start / col-start 5;
}
.skills-bar{
    background-color: $color-red;
    grid-column: col-start 5 / full-end;
}
.my-work{
    background-color: $color-secondary;
    grid-column: center-start / center-end;
}
.github-content{
    background-color: $color-violet;
    grid-column: full-start / col-start 5;
}
.github-image{
    background-color: $color-grey-light-1;
    grid-column: col-start 5 / full-end;
}
.upwork-content{
    background-color: $color-primary;
    grid-column: full-start / full-end;
}
.upwork-image{
    background-color: $color-secondary;
    grid-column: full-start / full-end;
}
.contact-content{
    background-color: $color-spanish-white;
    grid-column: full-start / col-start 5;
}
.contact-form{
    background-color: $color-primary-light;
    grid-column: col-start 5 / full-end;
}
.footer{
    background-color: $color-grey-light-2;
    grid-column: full-start / full-end;
}